// General error colour
$error-colour: #cd0000;

// Modal variables
$modal-inner-side-padding: 60px;
$modal-inner-top-padding: 40px;

$button-height: 60px;

// drop shadow
$common-drop-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);

// Anchor arrow base value
$anchor-top-arrow-base:14;

$border-colour: #e3e3e4;


// icons
$icon-bank-change: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAARCAYAAADdRIy+AAAAAXNSR0IArs4c6QAAAX5JREFUOBGt1E8oRFEUx/EZJCn/YpL8KbJSFM3GFLZsrChJSSklhbK0kY1iY0U2Y2OF7CzYzIbEhh3ZoBSF8qdExPfHu+P2uoZXc+rj3nvOfWfeeHdeKOSObNKD2MQlXnCNLSifCWeEHdk2cnEUYBU7uEMNGtCNc4wigZTRTvUVC1BDV0RIqv6GDtcGO9fEotdOpJhPUXuA7jptsUan/aDdyrlgDkWOC6PkPtBsar8+LW9DIeMuKtGHJZioY6KGMZQhH0/4CjVeQdb3Mvm3mtkp7EamWMJET193KFdIPshhLznO6I9+EvrkbX+B9QhMwwFTL2Zy6xXuGUtNgbEWXZjFISpgh77ZEfYQNoVFJuZTNMZNgTEPx7jABlzRSjJqF+pZNEI/sXn4z5X+rzpzgWOMK/R71V2lJXLpoieqF0LOPzrqa/b8ta+KDWdIQOfMFRkkh/CMGdcGf05nT3f5jnVMoBN6y0zjBI/Q2yZQtLB7GQdQgxvoeEzCPlosf+ITsyZICDt4IVgAAAAASUVORK5CYII=";

$icon-transfer: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAAAAXNSR0IArs4c6QAAAMVJREFUKBWl0qEPQVEUx/FLsBEUVcMENoVC8Rcw0X+ik0XFK4J/wQRFJwg2iU2iaTaF7y+c4Lnm2TvbZ+/e8865ezvvOvdftCgfI2ttCRZVFJHCCRs8YaGmOvIooIcrBpjB7XDEAXecUUMaKyi3xhwL6HB5oI+3UNMUe4ygQ3OwaLNQ8xJleCND9gIVdkIVFfbdUM67nZC9Iel9+yMZ6ws0gwCawRCRZhDrL+geaDAl6B7od26hAVo0WTTw9R5YYZTnx018ARIENilgWIJkAAAAAElFTkSuQmCC";

$icon-cross: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAASVJREFUWAnFl4ENAiEMRY0DOI+j3wbO4wTajzaBhPZ+C1WShgPa/z7nScLl8mk36Q6J+3dc2YEBFpit4eEh8ZJ4SlSagDYYYIHZTMANJjSqTPRwZYHddqyudGG3iRl8YJwmwGmy0dp0YsBIWDNc4JhJa6ULOzPLGisCK7XdHnL/jm1wdRIRjOSqPtUzwkwOBbOSPIC3Zuml5i1Q9Sk6mJ2Z0OMb/XC8DpUbB5aJFPy60dhPpKzd68+Qegus8xkcQIQaKPsOLDjmvTV2c24eA2ByXIi1GBGO5Fq8YT4jmKkZoDpYEVqpbfxlAVFJa6QL9dV1fVgrXNDBrEdak060SM78qfZpgiPOLrmMQ1TKj1JhzEyA3S6If72cqgm4gcvqBgZY7Wb8BqvAIxAJshHaAAAAAElFTkSuQmCC";

